body{
  text-align: justify;
}

body .main-container{
  max-width: 100%;
  padding: 0px !important;
}

body .shadow{
  height: 250px;
  margin-bottom: -250px;
  background: linear-gradient(141deg, rgba(15, 184, 173, .2), rgba(31, 200, 219, .6), rgba(44, 181, 232, .2));
}

body .img-holder{
  background-image: url("pexels-photo-417382.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  margin-bottom: -250px;
}

body .main-canvas{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 45px;
}

body .title, .author, .date{
  color: white;
  text-align: center;
}

body .title{
  margin-top: 50px;
}

body #introduction{
  margin-top: 150px;
}

body .caption{
  font-style: italic;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

body .table > caption{
  font-style: italic;
  text-align: center;
  color: #333;
}

body #price > .table{
  width: 50%;
  float: right;
  margin-left: 15px;
}

body #location > .table{
  width: 50%;
  float: right;
  margin-left: 15px;
}

body #location > .figure > img{
  display: block;
  margin: auto;
}

body #reviews > .table{
  width: 80%;
  margin: auto;
}

body #accomodates-and-beds > .table{
  width: 50%;
  float: right;
  margin-left: 15px;
  margin-bottom: 33px;
}

body #amenities > .figure{
  width: 55%;
  float: left;
  margin-right: 15px;
}

body #amenities > .table{
  width: 80%;
  margin: auto;
}

body #attributes-of-the-ad > .table{
  width: 35%;
  float: right;
  margin-left: 15px;
  margin-bottom: 33px;
}

body #regression-model > table{
  width: 100%;
  border-collapse: inherit;
  border-spacing: 2px;
}

body #regression-model > table > caption{
  font-style: italic;
  text-align: center;
  color: #333;
}

body #regression-model > table > caption > strong{
  font-weight: normal !important;
}

body .bottom-box{
  height: 75px;
  background: linear-gradient(141deg, rgb(15, 184, 173), rgb(31, 200, 219), rgb(44, 181, 232));
  text-align: center;
  color: white;
  padding-top: 5px;
}
